body {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
 place-content: center; 

}
header {
  width: auto;
  margin: 0 auto;
  width: 100%;

}
h1 {
  text-align: right;
  place-items: top;
  float: right;
  padding-right: 10px;
  font-size: small;

}
h2 {
  text-align: center;
  place-items: top;
  float: left;
  font-size: small;
  padding-left: 10px;

}
h3 {
  text-align: center;
  place-content: middle;
  place-items: middle;
  font-size: 30px;
  position: fixed;
  bottom: 25%;
  top: 25%;
  left: 45%;
  right: 45%;
  width: fit-content;


}
.start {
  text-align: center;
  position: fixed;
  top: 38%;
  bottom: 59%;
  left: 47%;
  right: 47%;
  
}